.readers.home.index {
  a:hover, a:visited, a:link, a:active{
    color: black;
    text-decoration: none;
  }
  .post-card{
    height: 430px;
    margin-bottom: 50px;
    .header-image{
      height:200px;
      background-size: cover;
      background-position: center;
    }
  }
;
}

.readers.posts.show {
  .title{
    @include font-size(4rem);
  }
  .post-card{
    .header-image{
      height: 350px;
      background-size: cover;
      background-position: center;
    }
    .image-element {
      text-align: center;
      img {
        max-width: 80%;
      }
    }
  }
;
}