<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Jongwon.net</a>
    <div id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/resume">Resume</a>
        </li>
        <% if current_author.present? && current_author.id == 1 %>
          <li class="nav-item active">
            <a class="nav-link" href="/posts">Posts</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/posts/new">New Post</a>
          </li>
        <% end %>
      </ul>

      <% if device != "mobile" %>
        <%= search_form_for @q, html: {class: 'form-inline my-2 my-lg-0 ' }, url: blog_path(@post) do |f| %>
          <%= f.search_field :title_or_description_or_hashtag_cont, class:'form-control mr-sm-2' %>
          <%= f.submit class: 'btn btn-outline-success my-2 my-sm-0' %>
        <% end %>
      <% end %>
    </div>
  </nav>
</div>